[phases.setup]
nixPkgs = ["python39"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python src/scraper.py"]

[start]
cmd = "gunicorn -w 4 -b 0.0.0.0:$PORT src.server:app"
